body{
font-family:Arial;
text-align:center;
background:#111;
color:white;
}

.lcd{
margin:30px auto;
padding:30px;
width:300px;
background:black;
color:lime;
font-size:24px;
border:4px solid #333;
}
